html, body{
    background-color: beige;
    margin: 25px;
    font-size: 30px;
    font-family: Verdana;
  }
  h1{
    background-color: wheat;
    color: black;
    font-size: 1.8rem;
    padding: .35rem;
    text-align: center;
    border: .35rem solid red;
    border-radius: 25px;
    box-shadow: 8px 8px 10px black;
    text-shadow: 5px 5px 7px grey;
  }
  h2{
    background-color: wheat;
    color:black;
    font-size: 1.5rem;
    width: 25rem;
    padding: .3rem;
    border: .25rem ridge lightblue;
    border-width: 5px;
    border-radius: 25px;
    box-shadow: 8px 8px 10px black;
  }
 article p{
    color:royalblue;
    font-size: .8rem;
    margin-right: 20px;
  }
  ol{
    color: violet;
    font-size: .75rem;
    list-style-type: decimal-leading-zero;
  }
  ul{
    color: rgb(51, 7, 134);
    font-size: .75rem;
    list-style-type: square;
  }
  nav{
    background-color: rosybrown;
    width: 25em;
    padding-left: 25px;
  }
  nav > ul > li > a{
    color: gold;
  }
  nav > ul{
    color: black;
  }
  img{
    width: 300px;
    height: 300px;
    padding: .5rem;
    border: .5rem solid black;
    border-radius: .2rem;
  }
  article{
    margin-left:  100px;
  }